#info-section {
    height: 40px;

    #info-image {
        width: 2.5rem;
        filter: invert(1);

        &:hover {
            cursor: pointer;
        }
    }

    #info-wrapper {
        overflow: hidden;
        position: relative;
        margin-bottom: -100px;
        width: max-content;
        padding: 1rem;
        border-radius: 10px;
        background-color: $light-background-color;
        font-weight: 400;
        box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.541);
    }


}