@media screen and (max-width: 600px) {

    @include fancy-scroll;

    #react-container {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }

    #tasks-display-container {
        z-index: 0;
        display: flex;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        overflow: hidden;
        width: 100vw;

        #task-container {
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            margin-bottom: 4rem;

            ul {
                margin-top: 5rem;

                .list-footer {
                    width: 100%;

                    .task-list-form {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        transition: background-color .1s;

                        &:hover {
                            background-color: lighten($color: $light-background-color, $amount: 5);
                            transition: background-color .1s;
                        }
                    }
                }
            }


            .new-column {
                height: 3rem;
                margin-top: 2rem;

                &-input {
                    font-size: 1.3rem;
                }
            }

            #info-section {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 7%;

                #info-wrapper {
                    animation: open-small-screen .5s ease-in-out;
                    top: .8rem;
                    right: 36vw;
                    max-width: 40vw;
                    max-height: 7rem;
                }

                @keyframes open-small-screen {

                    0% {
                        right: 6vw;
                        width: 10vw;
                        opacity: 0;
                    }

                    50% {
                        opacity: 30%;
                    }

                    100% {
                        opacity: 100%;
                        right: 36vw;
                        width: 40vw;
                    }
                }
            }
        }
    }

    #root {
        overflow-x: hidden;
        display: flex;
        justify-content: center;
    }

    #boards {
        max-height: 80vh;
        height: 80vh;
        overflow-y: auto;
    }

    #nav-container {
        margin-top: 3rem;
        width: 100vw;
        height: 100%;

        form {
            #add-board-input {
                margin-top: 1rem;
                width: 50%;
            }

            #add-board-text {
                width: 50%;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    #boards-nav {
        display: none;
        z-index: 1;
        background: rgb(44, 44, 56);
        background: linear-gradient(45deg, rgba(44, 44, 56, 1) 0%, #534f8877 96%);

        &.active {
            display: block;
            height: 100vh;
            width: 100vw;
        }
    }

    .boards-ul {
        position: fixed;
        left: -100%;
        gap: 0;
        background-color: transparent;
        flex-direction: column;
        width: 100%;
        height: 60vh;
        text-align: center;

        #boards-counter {
            font-size: 2rem;
        }

        .boards-li {
            width: 50%;
        }
    }

    .boards-ul.active {
        left: 0;
        max-height: inherit;
        overflow-y: auto;
    }

    #hamburger-wrapper {
        background-color: $light-background-color;
        height: 5vh;
        width: 100vw;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);

        &.active {
            background-color: transparent;
            height: 0;
            width: 0;
        }

        #hamburger {
            display: inline-block;
            position: fixed;
            z-index: 1;
            top: 5px;
            left: 10px;
        }

        #hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        #hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(45deg);
        }

        #hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(-45deg);
        }
    }

    #root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer {
        display: none;
    }


}



@media screen and (min-width: 600px) {
    #hamburger {
        display: none;
    }

    .boards-li {
        width: 85%;
    }

    #task-container {
        ul {
            height: fit-content;
            max-height: 90vh;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    #info-section {
        position: absolute;
        top: 95vh;
        left: 240px;

        #info-wrapper {
            animation: open-big-screen .5s ease-in-out;
            right: 1rem;
            top: -145px;
            left: 10px;
            max-width: 20rem;
            max-height: 6rem;
        }

        @keyframes open-big-screen {

            0% {
                width: 10vw;
                opacity: 0;
            }

            50% {
                opacity: 30%;
            }

            100% {
                opacity: 100%;
                width: 100%;
            }
        }
    }

}