@import "_vars.scss";
@import "_resets.scss";
@import "_nav.scss";
@import "_tasks.scss";
@import "_screen-sizing.scss";
@import "_info.scss";

html {
    font-family: $site-font;
    background-color: $dark-background-color;

    @include fancy-scroll;

}

#react-container {
    display: flex;
    flex-shrink: 0;
    min-width: 100vw;
    width: max-content;

}

footer {
    position: sticky;
    color: white;
    bottom: 10px;
    padding: 10px;
    display: inline-block;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    @include fancy-scroll;
}