@import "_vars.scss";
@import "_resets.scss";
@import "_nav.scss";
@import "_tasks.scss";
@import "_screen-sizing.scss";

html {
    font-family: $site-font;
    background-color: $dark-background-color;

    @include fancy-scroll;

}

#react-container {
    display: flex;
    background: rgb(44, 44, 56);
    background: linear-gradient(45deg, rgba(44, 44, 56, 1) 0%, #534f8877 56%);
    background-attachment: fixed;
    flex-shrink: 0;
    // overflow: hidden;
}

footer {
    position: sticky;
    color: white;
    bottom: 10px;
    padding: 10px;
    display: inline-block;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}